.all-movies {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    /* border-style: solid; */
    height: 65%;
    /* overflow: auto; */
    margin-top: 160px;
    margin-bottom: 50px;
}