.all-movies {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    /* border-style: solid; */
    height: 85%;
    /* overflow: auto; */
    margin-top: 12%;
    /* margin-bottom: 20%; */
}