.details-wrapper {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100%;
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Titan One', cursive;
    font-size: 150%;
    color: #eca72b;
}

h3 {
    color: #eca72b;
    font-size: 85%;
    font-family: 'Quicksand', sans-serif;
    margin: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255, 255, 255, 0.85);
    height: 70%;
    width: 55%;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid;
    border-color: #f1bd5e;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}

.poster {
    height: 70%;
    border-style: solid;
    border-color: #f1bd5e;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

p {
    background-color: white;
    color:rgba(0, 0, 0, 0.669);
    padding: 20px;
    font-size: 65%;
    width: 80%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.randy-tom {
    height: 100px;
    margin: 25px;
}

.button-container {
    display: flex;
    align-items: center;
}

.rev-and-budget {
    margin: 0;
    text-align: center;
    font-size: 100%;
    padding: 0;
}